$darkBlue: #24467f;
$normalWhite : rgba(255, 255, 255, 0.65);
.main-header{
  background: $darkBlue;
  height: 80px;
  padding: 0 20px;

  .nav-bar{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  
    .menu-with-logo{
      height: 80px;
      display: flex;
      align-items: center;
  
      img{
        display: block;
      }
  
      .ant-menu{
        background: $darkBlue;
        border: none;
        padding: 0 20px;
  
        .ant-menu-item{
          color: $normalWhite;
          a{
            color: $normalWhite;
          }
          border: none;
        }
  
        .nav-link-active{
          color: #fff;
          a{
            color: #fff;
          }
        }
  
      }
  
    }
  
    .user-box{
      line-height: 80px;

      a,.anticon-user{
        color: $normalWhite;
        cursor: pointer;
      }

      .anticon-user{
        margin-right: 5px;
      }

    }

  }

}