$darkBlue: #24467f;

html,body{
    height: 100%;
}

#root{
    height: 100%;
    .App{
        height: 100%;
        .main-layout{
            height: 100%;
            display: flex;
            flex-direction: column;
            .main-header{
                background: $darkBlue;
                height: 50px;
                padding: 0 20px;
                .logo{
                    width: fit-content;
                }
            }
            
            .main-content{
                flex: 1;
            }
    
            .main-footer{
                height: 50px;
                background: $darkBlue;
            }
        }
    }
}