$darkBlue: #24467f;

html,body{
    height: 100%;
}

#root{
    height: 100%;
    .App{
        height: 100%;
        .main-layout{
            height: 100%;
            
            .main-content{
                flex: 1;
                background: #f2f4f7;
                padding: 20px;
                display: flex;
                justify-content: center;

                .route-content{
                    height: 100%;
                    width: 1150px;
                    background: #fff;
                }
            }
    
            .main-footer{
                height: 50px;
                background: $darkBlue;
            }
        }
    }
}